language: android
jdk: oraclejdk8
sudo: false

before_install:
 - chmod +x gradlew

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.3
    - android-25
    - extra-android-m2repository
    - extra-google-m2repository
  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    - '.+'
